
	<div class="user-login">
		<div class="back">
			<a href="#/home" class="fl">返回租房网首页</a>
			<div class="fr">
				还没有租房网账号？<a href="#/register">马上注册</a>
			</div>
		</div>
		<div class="wrapper">
			<div class="bg-image">
				<img src="../app/img/login-bg.jpg"></img>
			</div>
			<div class="logo"></div>
			<div class="login-cun">
				<form id="loginUserForm" class="fm-v clearfix" ng-submit="login()">
					<ul class="user-logn">
						<li class="user-phone"><div class="li-bg">
								<input id="username" 
									validatename="Uername" autocomplete="off" placeholder="Please enter user name:"
									class="phonecode" type="text" validate="notNull,isTel" value="" 
									ng-model="credentials.username" required />
							</div></li>

						<li class="pwd">
            			<div class="li-bg">
								<input id="password"
									validatename="密码" placeholder="请输入登录密码" validate="notNull"
									type="password" value="" 
									ng-model="credentials.password" required/>
							</div></li>
						<li class="user-phone"><div class="li-bg"></div></li>

						<li class="mt10"><div class="fl">
								<label><input type="checkbox" name="remember" value="1"
									class="mind-login" />下次自动登录</label>
							</div> <a href="#" class="fr">找回密码</a></li>

						<li>
							<button type="submit" class="actDoSubmit">立即登录</button>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>

	<div class="lianjia-footer-simple">
		新西兰租房网<br>xxx公司保留权利&nbsp; 
	</div>